<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <p class="title">Pokedex</p>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              <div class="field">
                <div class="control has-icons-right">
                  <input class="input is-medium" type="search" [value]="text"
                    (keyup)="$event.keyCode == 13 ? doSearch() : textChanged($event)" placeholder="pikachu">
                  <span class="icon is-medium is-right">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div *ngIf="!pokemon.id" class="container">
      <h1 class="subtitle">
        Encuentra a tu pokemon
      </h1>
    </div>
    <div *ngIf="pokemon && pokemon.id" class="container">
      <div>
        <p class="title">{{ pokemon.name }}
          <span class="icon has-text-danger ml-5 is-clickable" (click)="addToFavorites(pokemon)">
            <i *ngIf="pokemon.isFavorite" class="fas fa-heart"></i>
            <i *ngIf="!pokemon.isFavorite" class="far fa-heart"></i>
          </span>
        </p>
      </div>
      <img [ngClass]="{'hidden': !pokemon.imageLoaded}" width="180" height="180" (load)="pokemon.imageLoaded = true"
        [attr.src]="pokemon.sprite">
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li routerLinkActive="is-active"><a routerLink="pokemon-list">Pokemon</a></li>
          <li routerLinkActive="is-active"><a routerLink="favorites">Favoritos</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="section">
  <router-outlet></router-outlet>
</section>